@tailwind base;
@tailwind components;
@tailwind utilities;


#bodyMain{
    overflow: hidden;
}

.video-list li {
    margin-bottom: 30px; /* Adjust the value as per your desired spacing */
}

#oefeningen_tabel
{
    width: 80vw;
    text-align: left;

}

.exercise-container {
    margin-bottom: 60px; /* Adjust the value as per your desired spacing */
}

.exercise-card {
    margin-bottom: 40px; /* Adjust the value as per your desired spacing */
}

.exercise-name {
    text-align: center;
    font-weight: bold;
}

